<header [ngClass]="{'small': books}">
  <div class="container">
    <figure class="logo">
      <img src="../assets/images/logo.svg" alt="Logo">
    </figure>
  </div>
</header>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-4">
      <form role="form" class="form-inline" (ngSubmit)="performSearch()">
          <label class="sr-only" for="searchInput">Search</label>
          <input 
            type="text" 
            class="form-control mb-2 mr-sm-2" 
            id="searchInput" 
            name="searchInput"
            placeholder="Search..."
            [(ngModel)]="searchTerm"
            [disabled]="searchInProgress"
          >
          <button
            type="submit" 
            class="btn btn-primary mb-2"
            [disabled]="searchInProgress"
          >Search</button>
        </form>
    </div>
  </div>
  <div class="row" *ngIf="noBooksFound">
    <div class="col">
      <div class="alert alert-secondary" role="alert">
        No books matching '{{ searchTerm }}' were found!
      </div>
    </div>
  </div>
  <div class="row border-bottom mb-3 pb-1" *ngFor="let book of books">
    <div class="col-sm-4 text-md-right text-center">
        <figure class="figure" *ngIf="book.imgUrl"><img style="width: 128px;" src="{{ book.imgUrl }}"></figure>
        <figure class="figure" *ngIf="!book.imgUrl"><img style="width: 128px;" src="../assets/images/dummy.svg"></figure>
    </div>
    <div class="col-sm-8">
      <title class="h4">{{ book.title }}</title>
      <p *ngIf="book.authors"><b>by</b> {{ book.authors.join(', ') }}</p>
      <p class="text-muted" *ngIf="book.publisher">{{ book.publisher }}</p>
    </div>
  </div>
</div>